* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Teko';
}

html {
    scroll-behavior: smooth;
}

@import './header';
@import './login-main';
@import './footer';
@import './variables';